<h2>Здравстуйте!</h2>

<p style="display: block; margin: 1em 0">
    Вы совершили заказ на сайте
    <a href="http://daaf2020.com/book/download/" target="_blank">
        Проектный офис Александра Данилюка и Аллы Факторович Мультипроект "Цифровое образование"
    </a>:
    <span style="font-weight: 700; display: block;">{{ project.getShortTitle() }}</span>
</p>

<p style="display: block; margin: 1em 0">
    Для скачивания книги перейдите
    <a href="http://daaf2020.com/book/download/{{ link }}" target="_blank" style="font-weight: 700;">
        по ссылке
    </a>.
</p>

<p style="display: block; margin: 1em 0">
    Если возникли проблемы со скачиванием книги или иные вопросы, пишите нам по адресу: 
    <a href="mailto:admin@daaf2020.com">
        admin@daaf2020.com
    </a>.
</p>

<p style="display: block; margin: 1em 0">
    Благодарим Вас за покупку!
</p>

<i style="font-weight: 700; display: block;">Проектный офис Александра Данилюка и Аллы Факторович</i>
<i style="font-weight: 700; display: block; margin: 1em 0;">МУЛЬТИПРОЕКТ "ЦИФРОВОЕ ОБРАЗОВАНИЕ"</i>
