{% extends "index.html.twig" %}

{% block body %}
    <section id="content-right-app" class="bg-color3">
        <div class="container">
            <div class="row">
{#                <div class="col-lg-3 col-md-4">#}
{#                    <img class="screen" src="{{ project.getMainImage() }}" alt="screen">#}
{#                </div>#}
{#                <div class="col-md-7 col-lg-offset-2 col-md-offset-1 editContent" style="">#}
                    <h2>{{ project.title }}</h2>
                    {{ project.description|raw }}
{#                </div>#}
            </div>
            </br>
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" style="white-space: pre-line;" id="" class="btn btn-lg btn-block btn-primary">
                        Содержание и введение
                        (текст для свободного
                        скачивания)
                    </button>

                </div>
                <div class="col-sm-6">
                    <button type="submit" style="white-space: pre-line;" id="" class="btn btn-lg btn-block btn-primary">
                        Получить полный текст и
                        поддержать проект
                    </button>
                </div>
            </div>
        </div>
    </section>
{#    <section id="download-half-app-image">#}
{#        <div class="container">#}
{#            #}
{#        </div>#}
{#    </section>#}
{% endblock %}